#login
{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #757f9a, #d7dde8);
    font-family: 'Poppins', sans-serif; 
}
.row
{
    position: absolute;
    top: 20%;
    left: 10%;
    color: #000;
}